.hedertitle{
    border-top: 2px solid gold ;
    border-bottom: 2px solid gold ;
    text-align: center;
    padding: 3px;
    background-image: url(./img/titile_back.png);
}

.hedertitle text{
    background: #F67B0A;
    background: linear-gradient(to top, #F67B0A 20%, #F8F442 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;   
}

.luckyspin{
    font-family: "ModernAntiqua-Regular";
    background: #F67B0A;
    background: linear-gradient(to top, #F67B0A 20%, #F8F442 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    padding: 10px;
}
.weelimg img{
    width: 35%;
}
.playbtn{
    border: 2px solid gold ;
    padding: 5px 20px;
    border-radius: 5px ;
    background-image: url(./img/titile_back.png);
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}
.playbtn .clickbtn{
    background: #F67B0A;
    background: linear-gradient(to top, #F67B0A 20%, #F8F442 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
}
.playbtn:hover .clickbtn{
    background: #F67B0A;
    background: linear-gradient(to top, #ffffff 20%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.playbtn:hover{
    transform: translateY(-10px);
}

@media (min-width: 481px) and (max-width: 767px) {
    .weelimg img{
        width: 100%;
    }
    .luckyspin{
        padding-top: 50px;
    }
}
@media (min-width: 320px) and (max-width: 480px){
    .weelimg img{
        width: 100%;
    }
    .luckyspin{
        padding-top: 50px;
    }
}